<html lang="en">
	<head>
		<!-- Google font (https://www.google.com/fonts) -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'> <!-- Alternative font -->
  </head>


  <body data-spy="scroll" data-target="#scrollspy">

		<!-- Begin preloader -->
		<div id="preloader">
			<div class="pulse"></div>
		</div>
		<!-- End preloader -->

		<!-- Begin body content -->
		<div id="body-content">



			<!-- Begin header -->
		  <header id="header-wrap">
		    <div id="header" class="header-md header-dark show-hide-on-scroll transparent">
		      <div id="scrollspy" class="container header-container">

		        <!-- clock -->
		        <div class="logo font-alter-1">
		            <h1 id="clock"> </h1>
		        </div>
		        <!-- clock -->

		        <!-- Begin navbar -->
		        <nav class="navbar pull-right">

		          <!-- Begin toggle button (get grouped for better mobile display) -->
		          <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
		              <span class="sr-only">Toggle navigation</span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>
		          </div>
		          <!-- End toggle button -->

		          <!-- Begin nav main -->
		          <div id="nav-main" class="collapse navbar-collapse nav-uppercase mob-navbar-collapse-dark">

		            <!-- Begin navbar-nav -->
		            <ul class="nav navbar-nav navbar-right nav-pills">

		              <li class="active"><a class="mlc sm-scroll" href="/gyms">Add Gym</a></li>
		              <li><span class="nav-link-separator">/</span></li>

		              <!-- Begin dropdown -->
		              <li class="dropdown dropdown-uppercase dropdown-menu-color dropdown-hover">
		                <a href="#0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                  About<span class="caret-2"><i class="fa fa-angle-down"></i></span>
		                </a>
		                <ul class="dropdown-menu">
		                  <li><a class="mlc sm-scroll" href="#section-1">About Us</a></li>
		                  <li><a class="mlc sm-scroll" href="#section-2">Our Team</a></li>
		                  <li><a class="mlc sm-scroll" href="#section-3">Video Promo</a></li>
		                  <li><a class="mlc sm-scroll" href="#section-7">Testimonials</a></li>
		                  <li><a class="mlc sm-scroll" href="#section-10">Our Clients</a></li>

		                  <!-- Begin dropdown (submenu)
		                  ==============================
		                  * Use class "dropdown-hover" to make navigation toggle on desktop hover.
		                  * Use class "dropdown-uppercase" to enable dropdown menu uppercase letters.
		                  * Use class "dropdown-menu-dark" to enable dark dropdown menu.
		                  * Use class "dropdown-menu-color" to enable custom colored dropdown menu.
		                  * Use class "dropdown-submenu" for dropdown submenu.
		                  -->
		                  <li class="dropdown">
		                    <a href="#0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                      Submenu<span class="caret-2 margin-left-10"><i class="fa fa-angle-right"></i></span>
		                    </a>
		                    <ul class="dropdown-menu">
		                      <li><a class="mlc" href="#">Submenu Link 1</a></li>
		                      <li><a class="mlc" href="#">Submenu Link 2</a></li>
		                      <li><a class="mlc" href="#">Submenu Link 3</a></li>
		                      <li><a class="mlc" href="#">Submenu Link 4</a></li>
		                      <li><a class="mlc" href="#">Submenu Link 5</a></li>

		                      <!-- Begin dropdown (submenu)
		                      ==============================
		                      * Use class "dropdown-hover" to make navigation toggle on desktop hover.
		                      * Use class "dropdown-uppercase" to enable dropdown menu uppercase letters.
		                      * Use class "dropdown-menu-dark" to enable dark dropdown menu.
		                      * Use class "dropdown-menu-color" to enable custom colored dropdown menu.
		                      * Use class "dropdown-submenu" for dropdown submenu.
		                      -->
		                      <li class="dropdown">
		                        <a href="#0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                          3 Level Submenu<span class="caret-2 margin-left-10"><i class="fa fa-angle-right"></i></span>
		                        </a>
		                        <ul class="dropdown-menu">
		                          <li><a class="mlc" href="#">Submenu Link 1</a></li>
		                          <li><a class="mlc" href="#">Submenu Link 2</a></li>
		                          <li><a class="mlc" href="#">Submenu Link 3</a></li>
		                          <li><a class="mlc" href="#">Submenu Link 4</a></li>
		                          <li><a class="mlc" href="#">Submenu Link 5</a></li>
		                        </ul> <!-- /.dropdown-menu -->
		                      </li>
		                      <!-- End dropdown -->

		                    </ul> <!-- /.dropdown-menu -->
		                  </li>
		                  <!-- End dropdown -->

		                </ul> <!-- /.dropdown-menu -->
		              </li>
		              <!-- End dropdown -->

		              <li><span class="nav-link-separator">/</span></li>
		              <li><a class="mlc sm-scroll" href="/users/show">Following</a></li>
		              <li><span class="nav-link-separator">/</span></li>
		              <li><a class="mlc sm-scroll" href="#section-3">Followers</a></li>
		              <li><span class="nav-link-separator">/</span></li>
		              <li><a class="mlc sm-scroll" href="#section-4">People In Your Gym</a></li>
		              <li><span class="nav-link-separator">/</span></li>
		              <li><%= link_to 'Edit Account', edit_user_registration_path, :class => "btn btn-primary sm-scroll margin-top-10 wow bounceIn", :'data-wow-delay' => '1.0s'%></li>
		              <li><span class="nav-link-separator">/</span></li>
		              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "btn btn-primary sm-scroll margin-top-10 wow bounceIn", :'data-wow-delay' => '1.0s' %></li>
		              <!-- <div class="align-center">
		                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "btn btn-primary sm-scroll margin-top-10 wow bounceIn", :'data-wow-delay' => '1.0s' %>
		                <%= link_to 'Edit Account', edit_user_registration_path, :class => "btn btn-primary sm-scroll margin-top-10 wow bounceIn", :'data-wow-delay' => '1.0s'%>
		              </div> -->

		            </ul>
		            <!-- End navbar-nav -->

		          </div>
		          <!-- End nav main -->

		        </nav>
		        <!-- End navbar -->

		      </div> <!-- /.container -->
		    </div>
		    <!-- End header content -->

		  </header>
		  <!-- End header -->



			<!-- ==========================
			///// Begin intro section /////
			===============================
			* Use class "full-height" to full screen intro.
			* Use class "angle-left-bottom" or "angle-right-bottom" to change intro bottom angle.
			* Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
			-->
			<section id="intro" class="whole-screen bg-image-parallax" style="background-image: url(<%= asset_path('registration_2.jpg') %>;">
          <div class="text-white margin-top-60">
            <%= image_tag(current_user.photo)%> <h1>Your Gym:  <%= @gym.name unless @gym == nil %></h1>
          </div>
          <div class="text-white">
            <h3>User Name:  <%= current_user.user_name %></h3>
            <h2>Name:  <%= current_user.first_name %> <%= current_user.last_name %></h2>
            <h2>Email:  <%= current_user.email %></h2>
            <h2>Bio:
              <div><%= current_user.bio %></div>
            </h2>
          </div>
					<!-- Made with love :) -->
					<div class="made-with-love hidden-xs">
						<p class="text-gray">Sweat is <span class="text-main"><i class="fa fa-heart-o"></i></span></p>
					</div>
      </section>
			<!-- End intro section -->
