<!DOCTYPE html>
<html>

  <head>
    <title>GymmedupApp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body ng-app="gymmedUp" ng-controller="gymmedUpCtlr">
    <!-- <h2 class="notice"><%= notice %></h2> -->
    <!-- <h2 class="alert alert-success"><%= alert %></h2> -->
    <div id="flash">
      <a class='notice', data-dismiss="alert">&#215;</a>
      <%= notice %>
    </div>
    <%= yield %>
  </body>


</html>
